<nav class="color navbar fixed-bottom navbar-light bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand mx-auto" style="color: white;">Address : {{ concertsById.getRoom().getAddress() }}</p>
    </div>
</nav>

