{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Créer un concert</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save</button>

        {{ form_end(form) }}
    </div>
{% endblock %}